*{
    font-family: 'Spline Sans Mono', monospace ;
    margin: 0;
    padding: 0;
}

html, body{
    background-color: #030303;
}

nav{
    position: fixed;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width:100%;
    height: 50px;
    background-color: #69293D;
    -webkit-box-shadow: 0 6px 10px 0px rgba(0,0,0,.2);
    box-shadow: 0 6px 10px 0px rgba(0,0,0,.2);
    z-index: 999;
    /* border-radius: 0px 0px 5px 5px; */

}

nav .bgchange{
    height: 100%;
    padding: 17px 10px;
    color: #FCF7F8;
}
nav .bgchange:hover{
    color: #69293D;
    background-color: #FCF7F8;
    transition: 0.2s ease-in-out;
}
.bgchange.selected{
    color: #69293D !important;
    background-color: #FCF7F8;
}
nav a img:hover{
    background-color: #FCF7F8;
}

#logo{
    filter: grayscale(100%) brightness(1000%);
    height: 50px;
}
#logo:hover{
    filter: grayscale(0%) brightness(100%);
    height: 50px;
}

#links{
    padding: 0px 0px 0px 20px;
}

#socials{
    padding: 0px 20px 0px 0px;
}

#hero{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #030303;
    background-image: url("img/hero.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}


#hero div{
    text-align: center;
}

#hero div h1{
    font-family: 'Bebas Neue', cursive;
    color: #FCF7F8;
    font-weight: bolder;
    font-size: 5em;
    margin-bottom: 0px;
    
}

#hero div h4{
    font-family: 'Bebas Neue', cursive;
    color: #69293D;
    font-weight: bolder;
    font-size: 3em;
    margin-top: 0px;

}

#whatwedo{
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #030303;
    background-image: url("img/splash.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#whatwedo h2{
    padding-bottom: 200px;
    font-family: 'Bebas Neue', cursive;
    color: #FCF7F8;
    font-weight: bolder;
    font-size: 5em;
    margin-bottom: 0px;

}

#about{
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-top: 50px;

}

#bruno{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}
#diogo{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

#bruno h3, #diogo h3{
    font-family: 'Bebas Neue', cursive;
    color: #69293D;
    font-size: 3em;
    padding-top: 40px;
}

#bruno p, #diogo p{
    font-family: 'Bebas Neue', cursive;
    color: #FCF7F8;
    font-size: 2em;
    padding-top: 20px;
}

#bruno p{
    padding-left: 10px;
    padding-right: 40px;
    text-align: justify;
}

#diogo p{
    padding-right: 10px;
    padding-left: 40px;
    text-align: justify;
}

#bruno h3{
    padding-left: 10px;
    text-align: left;
}

#diogo h3{
    padding-right: 10px;
    text-align: right;
}

#about #bruno img{
    height: 50vh;
    padding: 10px 0px 10px 60px;

}

#about #diogo img{
    height: 50vh;
    padding: 10px 60px 10px 0px;

}

#us{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;

}

#us p{
    color: #FCF7F8;
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
    padding: 40px 40px 30px 40px;
    margin: 0px;
}

#us img{
    margin: 0 auto;
    padding-bottom: 50px;

}

#someworks{
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #030303;
    background-image: url("img/studio.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
}

#someworks h2{
    font-family: 'Bebas Neue', cursive;
    color: #FCF7F8;
    font-weight: bolder;
    font-size: 5em;
    margin-bottom: 0px;
}
#someworks h4{
    font-family: 'Bebas Neue', cursive;
    color: #FCF7F8;
    font-weight: bolder;
    font-size: 3em;
    margin-bottom: 0px;
    text-align: center;
    padding: 0px 30px;

}

#gallery{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 120px 20px;
}

#gallery div{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#gallery h2{
    color: #FCF7F9;

}

#gallery img{
    filter: grayscale(100%);
    padding: 10px 20px;
    width: 380px;
    height: 300px;
    transition: 0.2s ease-in-out;

}

#gallery img:hover{
    filter: grayscale(0%);
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}

#gallery h2{
    width: 100%;
    font-size: 4em;
    margin: 30px 0px;
    text-align: center;
}


#spotify{
    width: 100%;
    height: 70vh;
    background-color: #1DB954;
}

#spotify h2{
    padding-top: 40px;
    color: #030303;
    font-family: 'Bebas Neue', cursive;
    font-size: 3em;
    text-align: center;
}

#spotify #tracks{
    margin: 0px 50px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

#spotify #tracks::-webkit-scrollbar {
    width: 6px;
    height: 16px;
}
#spotify #tracks::-webkit-scrollbar-track {
border-radius: 10px;
background: rgba(0,0,0,0.1);
}
#spotify #tracks::-webkit-scrollbar-thumb{
border-radius: 10px;
background: rgba(0,0,0,0.2);
}
#spotify #tracks::-webkit-scrollbar-thumb:hover{
background: rgba(0,0,0,0.4);
}
#spotify #tracks::-webkit-scrollbar-thumb:active{
background: rgba(0,0,0,.9);
}

#spotify #tracks div{
    display: inline-block;
    padding: 40px 10px;
    width: 380px;
}

#youtube{
    width: 100%;
    height: 70vh;
    background-color: #030303;
}

#youtube h2{
    padding-top: 40px;
    color: #FCF7F9;
    font-family: 'Bebas Neue', cursive;
    font-size: 3em;
    text-align: center;
}

#youtube #videos{
    margin: 0px 50px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

#youtube #videos::-webkit-scrollbar {
    width: 6px;
    height: 16px;
}
#youtube #videos::-webkit-scrollbar-track {
border-radius: 10px;
background: rgba(105,41,61,0.1);
}
#youtube #videos::-webkit-scrollbar-thumb{
border-radius: 10px;
background: rgba(105,41,61,0.2);
}
#youtube #videos::-webkit-scrollbar-thumb:hover{
background: rgba(105,41,61,0.4);

}
#youtube #videos::-webkit-scrollbar-thumb:active{
background: rgba(105,41,61,0.9);
}

#youtube #videos div{
    display: inline-block;
    padding: 40px 10px;
    width: 560px;
}

#events{
    width: 100%;
    margin: 0 auto;
    height: 70vh;
}

#events h2{
    font-size: 3em;
    font-family: 'Bebas Neue', cursive;
    margin: 70px 0px;
    color: #FCF7F9;
    text-align: center;
}

#events table{
    border-collapse: collapse;
    color: #FCF7F9;
    width: 80%;
    padding: 0px 100px;
    margin: 0 auto;
}

#events table #date{
    width: 30px;
}

#events table #place{
}

#events table #buy{
    width: 30px;
}

#events table th{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5em;
    margin-left: 0px !important;
    margin-right: 0px !important;
    border-bottom: #FCF7F9 solid 1px;
    padding: 20px 0px;
}

#events table td{
    font-size: 1.5em;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    border-bottom: #FCF7F9 solid 1px;
    padding: 20px 40px;
}

#contact{
    width: 100%;
    margin: 0px 0px 120px 0px;
}

#contact h2{
    color: #FCF7F9;
    font-size: 3em;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}

#contact label{
    color: #FCF7F9;
    font-size: 2em;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}

#contact #msgus{
    width: 80%;
    margin: 0 auto;
}

#contact textarea{
    resize: none;
}

#contact #enviar{
    float: right;
    margin: 30px 0px;
    color:#FCF7F9;
    background-color: rgba(105,41,61,1);;
}

#contact #enviar:hover{
    float: right;
    margin: 30px 0px;
    color:#FCF7F9;
    background-color: rgba(105,41,61,0.6);;
}

footer{
    width: 100%;
    height: 100px;
    background-color: #69293D;
}

.uk-icon-button{
    background-color: #69293D;
    color: #FCF7F8;
    transition: 0.3s ease-in-out;
}

.uk-icon-button:hover{
    background-color: #FCF7F8;
    color: #69293D;
    transition: 0.3s ease-in-out;
}

.icon-inverse{
    background-color: #000;
    color: #69293D !important;
    transition: 0.3s ease-in-out !important;
}

.icon-inverse:hover{
    background-color: #000;
    color: #FCF7F8 !important;
    transition: 0.3s ease-in-out !important;
}

a:hover{text-decoration: none;}
/* unvisited link */
a:link {}
  
  /* visited link */
a:visited {}
  
  /* mouse over link */
a:hover {}
  
  /* selected link */
a:active {}


